.smicons{
    display: flex;
    flex-direction: column;
}

.smicons a{
    text-decoration: none;
}

.smicons .icon{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    transform-style: preserve-3d;
    transform: perspective(500px);
}

.smicons .icon .logo{
    transform: translateZ(50px);
    max-height: 32px;
    filter: grayscale(100%) brightness(1000%);
}

.smicons .icon .name{
    transform: translateZ(25px);
    font-size: 15pt;
    width: 75%;
    color: white;
    font-family: sans-serif;
    font-weight: 950;
}

#youtube{
    background: #FF0000;
}

#twitter{
    background: #1da1f2;
}

#reddit{
    background: #ff4300;
}

#github{
    background: #2a2a2a;
}

#website{
    background: #337ab7;
}

#mail{
    background: #DB4437;
}